{% extends "home/base.html" %}
{% load static %}

{% block content %}
<section class="products-section">
    <div class="container">

        <h2 class="text-center mb-5">Our Skincare Collection</h2>

        <div class="product-grid">

            {% for product in products %}
            <div class="product-card">

                <div class="product-img">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="">
                    {% else %}
                        <img src="{% static 'home/default.png' %}" alt="">
                    {% endif %}
                </div>

                <div class="product-body text-center">
                    <h5>{{ product.name }}</h5>
                    <p>₹{{ product.price }}</p>

                    <a href="{% url 'add_to_cart' product.id %}" class="btn-add">
                        Add to Cart
                    </a>
                </div>

            </div>
            {% endfor %}

        </div>

    </div>
</section>

{% endblock %}